In [59]:
import pandas as pd 
import numpy as np

In [60]:
df = pd.read_csv('..//data//area_used in sq km.csv')
df.head()

,Types of use,Baden-Württemberg (Area in sq km),Bayern (Area in sq km),Berlin (Area in sq km),Brandenburg (Area in sq km),Bremen (Area in sq km),Hamburg (Area in sq km),Hessen (Area in sq km),Mecklenburg-Vorpommern (Area in sq km),Niedersachsen (Area in sq km),Nordrhein-Westfalen (Area in sq km),Rheinland-Pfalz (Area in sq km),Saarland (Area in sq km),Sachsen (Area in sq km),Sachsen-Anhalt (Area in sq km),Schleswig-Holstein (Area in sq km),Thüringen (Area in sq km),Year
0,Housing area,3265.49,5280.19,491.16,2029.39,184.99,351.24,1947.39,1320.81,4447.93,5602.19,1682.04,392.64,1845.36,1569.55,1401.06,958.65,2016
1,Residential building area,1519.58,2137.67,217.22,637.48,71.15,165.96,913.83,380.91,2024.73,2425.57,667.25,202.09,858.25,365,677.62,404.35,2016
2,Industrial and commercial area,717.21,893.39,66.75,448.36,50.92,68.23,337.11,222.46,798.17,1025.68,286.98,75.69,341.19,303.64,194.82,230.43,2016
3,Industry and commerce,508.91,475.16,35.67,313.7,35.34,44.46,205.73,148.16,434.28,664.13,179.23,54.71,220.83,164.7,109.07,137.53,2016
4,Stockpile,13.94,3.35,0.08,9.74,0.54,0.05,9.84,0.53,11.88,47.26,7.89,5.53,20.44,27.03,2.02,13.87,2016

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 18 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Types of use                            224 non-null    object
 1   Baden-Württemberg (Area in sq km)       224 non-null    object
 2   Bayern (Area in sq km)                  224 non-null    object
 3   Berlin (Area in sq km)                  224 non-null    object
 4   Brandenburg (Area in sq km)             224 non-null    object
 5   Bremen (Area in sq km)                  224 non-null    object
 6   Hamburg (Area in sq km)                 224 non-null    object
 7   Hessen (Area in sq km)                  224 non-null    object
 8   Mecklenburg-Vorpommern (Area in sq km)  224 non-null    object
 9   Niedersachsen (Area in sq km)           224 non-null    float64
 10  Nordrhein-Westfalen (Area in sq km)     224 non-null    object
 11  Rheinland-Pfalz (Area in sq km)         224 non-null    object
 12  Saarland (Area in sq km)                224 non-null    object
 13  Sachsen (Area in sq km)                 224 non-null    object
 14  Sachsen-Anhalt (Area in sq km)          224 non-null    object
 15  Schleswig-Holstein (Area in sq km)      224 non-null    object
 16  Thüringen (Area in sq km)               224 non-null    object
 17  Year                                    224 non-null    int64
dtypes: float64(1), int64(1), object(16)
memory usage: 31.6+ KB

replacing the "-" with 0 in our dataset:

In [62]:
df.replace(to_replace='-',value='0',inplace=True)

Changing datatype of area of regions:

In [63]:
for column in df.columns:
    if column == "Types of use" or column == "Year":
        pass
    else:
        df[column] = df[column].astype(float)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 18 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Types of use                            224 non-null    object
 1   Baden-Württemberg (Area in sq km)       224 non-null    float64
 2   Bayern (Area in sq km)                  224 non-null    float64
 3   Berlin (Area in sq km)                  224 non-null    float64
 4   Brandenburg (Area in sq km)             224 non-null    float64
 5   Bremen (Area in sq km)                  224 non-null    float64
 6   Hamburg (Area in sq km)                 224 non-null    float64
 7   Hessen (Area in sq km)                  224 non-null    float64
 8   Mecklenburg-Vorpommern (Area in sq km)  224 non-null    float64
 9   Niedersachsen (Area in sq km)           224 non-null    float64
 10  Nordrhein-Westfalen (Area in sq km)     224 non-null    float64
 11  Rheinland-Pfalz (Area in sq km)         224 non-null    float64
 12  Saarland (Area in sq km)                224 non-null    float64
 13  Sachsen (Area in sq km)                 224 non-null    float64
 14  Sachsen-Anhalt (Area in sq km)          224 non-null    float64
 15  Schleswig-Holstein (Area in sq km)      224 non-null    float64
 16  Thüringen (Area in sq km)               224 non-null    float64
 17  Year                                    224 non-null    int64
dtypes: float64(16), int64(1), object(1)
memory usage: 31.6+ KB

In [65]:
df.to_csv("..//data//area_used in sq km(cleaned).csv", index=False)